.logo {
  width: 180px;
  height: auto;
}
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}
.banner {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.65;
  display: block;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  z-index: 3;
}
